#answer-div {
    width:100px;
    height:100px;

    background-color:green;
    cursor:pointer;

    transition: background-color .3s
}

#answer-div:hover {
    background-color:lightgreen;
}

#message-h5 {
    display:none
}

#random-link {
    display:none
}